@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    
    /* que no crescan mas alla del tamaño que se le dio */
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
    color: white;
    margin: 0;
    background-color: rgb(37, 36, 36);
}
/* Header */
header{
    font-weight: 800;
}

h1{font-size: 2em;font-weight: 800;}
h2{font-size: 1.5em;font-weight: 700;}
h3{font-size: 1.17em;font-weight: 600;}
p{font-size: 1em;font-weight: lighter;}
ul{list-style: none;}
li{font-size: 1em;}
button{
    font-size: 1em;
    font-weight: 100;
    padding: 2px 16px;
    border-radius: 7px;
    border: 2px solid rgb(12, 11, 11);
    box-shadow: 2px 2px 5px rgb(44, 8, 44);
    color:white ;
    background-color: #800080;

}
button:hover{
    background-color: #570957;
}

.container{
    max-width: 1400px;
    margin: auto;
}


/* header logo selecciona no hace falta poner mas nombre a la clase */
header{
    background-color: rgb(43, 42, 42);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    
}
header .logo{
    margin: 0;
    padding: 25px 10px;
    font-size: 2em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(53, 193, 248);
    
}
header ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
header li{
    padding: 5px 10px;
}
header a{
    text-decoration: none;
    color: white;    
}
header a:hover{
    color: rgb(36, 129, 168);
}

#presentation{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.8)
    )
    ,url("media/presentation.jpg");
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center center; /* Centra la imagen */
}

#what-is-pz .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}
/* que la imagen what is pz se adapte al diseño responsive */
#what-is-pz .img-container{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#what-is-pz img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}

.color-acento{
    color: rgb(53, 193, 248);
}

#what-is-pz .container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#what-is-pz p{
    margin: 0;
    padding: 0;
    line-height: 1.5;  
}

#professions {
    background-color: rgb(215, 241, 241);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#professions .container{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 95vh;
}
#professions p{
    /* desaparecemos el texto p */
    display: none;
}
